.reveal-viewport {
  background-repeat: no-repeat;
  background-position: right 50px top 25px;
  background-size: auto 60px, 20% 20%;
}

.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-align: left;
  margin-bottom: 0.5em;
  text-transform: initial;
  margin-left: 0;
}

.reveal code {
  line-height: 1;
}

.reveal pre code {
  max-height: 550px;
  line-height: 1.2;
  font-size: 0.8em;
  opacity: 1.0;
}

.reveal pre code.code-more {
  max-height: 600px;
  font-size: 0.6em;
}

.reveal pre code.code-more tr {
  line-height: 1.1;
}

.reveal pre .filename {
  background-color: rgba(255,255,255, 0.3);
}

.reveal .slides {
  text-align:left;
}

.reveal code {
  opacity: 0.9;
  font-size: 0.8em;
}

.reveal .code-wrapper code {
  font-size: 1.0em;
}

.reveal li {
  line-height: 1.3;
}

.reveal li ul {
  font-size: 0.8em;
  margin-top: 0.2em;
  margin-bottom: 0.6em;
}

iframe {
  width: 100%;
  height: 100%;
}
