---
import '../styles/global.css';

// Component Imports
import * as react from '../components/ReactCounter';
import { PreactCounter } from '../components/PreactCounter';
import SolidCounter from '../components/SolidCounter';

import VueCounter from '../components/VueCounter.vue';
import SvelteCounter from '../components/SvelteCounter.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="An example page showcasing multiple conmponents in an Astro project" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      	<title>Astro Multiple Componentes example</title>
	</head>
	<body>
		<main>
            <div class="intro">
                 <h1>Multiple Counter Elements</h1>
            </div>

			<SvelteCounter client:only="svelte">Hello from Svelte!</SvelteCounter>
			<react.Counter client:only="react">Hello from React!</react.Counter>
			<PreactCounter client:only="preact">Hello from Preact!</PreactCounter>
			<SolidCounter client:only="solid">Hello from Solid!</SolidCounter>
			<VueCounter client:only="vue">Hello from Vue!</VueCounter>
		</main>
	</body>
</html>
