<!-- @component
A counter written with Svelte
-->
<script lang="ts">
	let count = 0;

	function add() {
		count += 1;
	}

	function subtract() {
		count -= 1;
	}

</script>

<section>
	<h2>
		<slot />
	</h2>
	<div class="counter">
		<button on:click={subtract}>-</button>
		<pre>{count}</pre>
		<button on:click={add}>+</button>
	</div>
</section>
