html,
body {
	font-family: system-ui;
	margin: 0;
}

body {
	@apply px-10 py-20 bg-slate-100;
}

h1 {
	@apply text-2xl text-center;
}

h2 {
	@apply text-lg pb-4;
}

section {
	@apply max-w-sm py-4 px-10 mt-20 rounded overflow-hidden shadow-lg bg-white;
}

button {
	@apply font-bold py-2 px-4 rounded bg-blue-500 text-white;
}

button:hover {
	@apply bg-blue-700;
}

.intro {
	place-items: center;
	margin-bottom: calc(100vh - 284px);
}

.counter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.counter-message {
	text-align: center;
}
